@import url("fonts.css");

body {
    box-sizing: border-box;
  }

ul > li {
    display: inline-block;
}

#lk_Lifestyle {
    margin-right: 121px;
}

#lk_Photodiary {
    margin-right: 103px;
}

#lk_Music {
    margin-right: 95px;
}

nav {
    text-align: center;
    margin-top: 77px;
    cursor: cell;
}

.nav_item {
font-family: 'Playfair Display', serif;
text-transform: uppercase;
color: gray;
text-decoration: none;
font-size: 14px;
font-weight: 400;
}

li > a:hover {
    color: #03a9f4;
}

.info_1 {
    text-align: center;
    margin: 0 auto;
    cursor: cell;
}
.sec_main {
    display: inline-block;
    text-align: left;
    width: 474px;
    height: 479px;
    margin-left: 115px;
    margin-top: 104px;
}

.Image_sec {
    width: 421px;
    height: 279px;
    overflow: hidden;
}

.Text_sec {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
    margin-top: 32px;
}

.Title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    color: #626262;
}

.text_sec {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    font-weight: 400;
}

.sectionR {
    text-align: left;
    display: inline-block;
    width: 423px;
    height: 506px;
    margin-top: 75px;
}

.img_scr {
    width: 421px;
    height: 277px;
}

footer {
    text-align: center;
}

footer > button {
    font-family: 'Playfair Display', serif;
    cursor: no-drop;
    margin: 0 auto 70px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #626262;
    width: 164px;
    height: 60px;
    background-color: #ffffff;
    color: rgb(98, 98, 98);
}